h3 {
    text-align: left;
}

.mochi p {
    text-align: left;
    color: green;
    margin-bottom: 0px;
    margin-top: 5px;
}

.mochi ul {
    margin-left: 20px;
}

.mochi {
    padding-bottom: 100px;
}

#micho {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mochi img {
    height: 240px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}